<!DOCTYPE html>

<html>
	<head>
		<title>apply</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body>
		<div class="container">
			<p>Thanks for your application {{name}}!</p>
			<a href="/apply">Return</a>
		</div>
	</body>
</html>
