<!DOCTYPE html>

<html>
	<head>
		<title>Tickets</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	</head>
	<body>
		<h3>Tickets</h3>
		<div id="app">
			<h4>Untouched</h4>
			<ul>
			</ul>
			<h4>In Progress</h4>
			<ul>
				<li><a href="">030623-MP</a></li>
			</ul>
			<h4>Closed</h4>
			<ul>
				<li><a href="https://dylan.live/tickets/closed_tickets/030123-AT.html">030123-AT</a></li>
				<li><a href="">030223-BS</a></li>
				<li><a href="">030323-SC</a></li>
				<li><a href="">030623-AS</a></li>
				<li><a href="">030623-YM</a></li>
			</ul>
		</div>
		<h4></h4>
		<script src="/js/main.js"></script>
	</body>
</html>





