<!DOCTYPE html>

<html>
	<head>
		<title>applicants</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>

	<body>
		<div class="container">
			<form action="/applicants/password" method="POST">
				<input type="password" name="password" placeholder="Enter password">
				<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>
