@font-face {
	font-family: 'Kanit-Regular';
	src: url('/fonts/Kanit-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'PTSans-Regular';
	src: url('/fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
}
@media only screen and (max-width: 400px) {
	.container table {
		width: 85% !important;
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Kanit-Regular', sans-serif;
}

.navbar {
	background-color: #18d618;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.navbar-logo {
	text-decoration: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	margin-right: 10px;
	font-size: 25px;
}

.navbar-links {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.navbar-link {
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	font-weight: bold;
}

.navbar-logout {
	font-size: 17px;
	text-decoration: none;
	cursor: pointer;
	color:white;
	margin-right: 10px;
	font-weight: bold;
}
.content {
	background-color: #fff;
	padding: 20px;
}
.container {
	height: 100%;
	display: flex;
	justify-content: center;
}
.container table {
	margin-top: 15px;
	width: 75%;
}
.container tbody td {
	text-align:center;
	padding: 0px 5px;
}
.container tbody td a {
	text-decoration: none;
	color: black;
}
.container tbody td a:hover {
	text-decoration: underline;
}
.ticket-details-container {
	padding-left: 10px;
}
