.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #000;
  padding: 8px;
}

.table th {
  background-color: #fff;
}

.table td {
  background-color: #fff;
}

.button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 4px 8px;
}

@media (max-width: 768px) {
	.table th:nth-child(3),
	.table th:nth-child(3) {
		display: none;
	}
}
